.header {
  margin: 0 auto;
  width: 100%;
  height: 6.4rem;
  @include flex-row;
  @include media-laptop {
    max-width: 144rem;
    width: 100%;

    .wrapper {
      max-width: toRem($laptopWidthWrapper);
      width: 100%;
      height: 100%;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      margin: 0 auto;
    }
    .header-wrapper {
      @include flex-row;
      justify-content: space-between;
      height: 100%;
      .logo {
        border-radius: 0.4rem;
        padding: 8px 20px;
        width: 14.1rem;
        height: 4rem;

        @include flex-row;

        gap: 0.9rem;
        .snowflake {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      .navigation {
        width: 37.6rem;
        height: 100%;
        .navigation-list {
          @include flex-row;
          justify-content: space-between;
          
          width: 100%;
          height: 100%;
          .navigation-item {
            .navItem-link {
              height: 100%;
              padding: 1.2rem 2rem;
            }
          }
        }
      }
    }
  }
}
