.main {
  @include media-laptop {
    .hero {
      width: 100%;
      background-image: url(/assets/images/png/bg-ball.png);
      background-position: center;
      background-size: cover;
      background-color: $primary;
      .wrapper {
        .hero-container {
          max-width: 42.6rem;
          width: 100%;
          margin: 0 auto;
          @include flex-column;
          .hero-caption {
          }
          .hero-headerText {
            text-align: center;
          }
          .button {
          }
          .hero-buttton {
          }
        }
      }
    }
  }
}
