button {
  width: 100%;
  border-radius: 2rem;
}
.primary-button {
  width: 10rem;
  height: 56px;
  padding: 2rem 3.2rem;
  background-color: $dark;
  color: $static-white;
  border: none;
}
.slider-button {
  border: 1px solid $static-white;
  width: 56px;
  height: 56px;
}


//*-------------hovering-----------//
.primary-button:hover{
  background-color: $static-white;
  color: $dark;
}
.slider-button:hover{
  background-color: $static-white;
}