.garage {
    width: 100%;
    display: flex;
    flex-direction: column;
    .menu {
        width: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        .header-menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
        }
        .footer-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            .container {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                input {
                    border-radius: 1rem;
                }
            }
        }
        justify-content: space-between;
        .btns-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }
    .counter-car {
        font-size: 3.4rem;
        color: blue;
    }
    .list-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .btns-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}
