//* Media query */

@mixin media-laptop {
    @media ( (max-width:$laptopWidthBody) and (min-width: $tabletWidthBody)) {@content; }
}


@mixin media-tablet {
    @media ( (max-width:$tabletWidthBody) and (min-width: $mobileWidthBody)) {@content; }
}
@mixin media-mobile {
    @media ( (max-width: $mobileWidth) and (min-width: 364px)) {@content; }
}
