//** --------fonts-------//
$primaryFont: "Montserrat", sans-serif;
$SecondaryFont: "Allura";


//** --------colors-------//
$primary: #ff4646;
$dark: #181c29;
$static-white: #fff;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$primary-10: rgba(255, 70, 70, 0.1);
$static-white-20: rgba(255, 255, 255, 0.2);
$static-white-40: rgba(255, 255, 255, 0.4);



//! media-query width;


$laptopWidth: 1440px;
$laptopWidthWrapper: 1276;

$tabletWidth: 768px;
$tabletWidthWrapper:752;

$mobileWidth: 380px;
$mobileWidthWrapper: 364;
