.garage {
    width: 100%;
    display: flex;
    flex-direction: column;
    .menu {
        width: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        .header-menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
        }
        .footer-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            .container {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                input {
                    border-radius: 1rem;
                }
            }
        }
        justify-content: space-between;
        .btns-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }
    .counter-car {
        font-size: 3.4rem;

        position: relative;

        padding: 12px 48px;
        color: #fff;
        background: linear-gradient(to right, #07182e 0, #fff 10%, #868686 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 3s infinite linear;
        animation-fill-mode: forwards;
        -webkit-text-size-adjust: none;
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
        font-family: "Poppins", sans-serif;
    }
    .list-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .btns-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}

// animation//
@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 280px;
    }
}
