.dialog {
    border: none;
    margin: 0 auto;
    position: fixed;
    border-radius: 20px;
    top: 50%;
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.popup-body {
    width: 190px;
    height: 190px;
    background: #07182e;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    .popup-text {
        z-index: 1;
        color: white;
        font-size: 2.4em;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100px;
        background-image: linear-gradient(
            180deg,
            rgb(0, 183, 255),
            rgb(255, 48, 255)
        );
        height: 130%;
        animation: rotBGimg 3s linear infinite;
        transition: all 0.2s linear;
    }
    &::after {
        content: "";
        position: absolute;
        background: #07182e;
        inset: 5px;
        border-radius: 15px;
    }
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
